*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Merienda;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#ca28a4,#e6dee9);
}
.center{
    width: 350px;
    background:linear-gradient(to top,#010f19,#d70d97);
    border-radius: 20px;
}
input[type="text"]{
    height: 60px;
    width: 300px;
    margin-top: 40px;
    border-radius: 1px;
    border: 1px solid #080808e3;
    color: #0c0101;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    background:rgb(252, 249, 249);
}
form .buttons{
    width: 300px;
    margin: 10px 25px 0 25px;
    padding: 10px 0;
}
input[type="button"]{
    width: 58px;
    height: 55px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: 1px solid white;
    
}
input[type="button"]:hover{
    transition: .5s;
}
input#clear{
    background: #ebeaee;
    color:rgb(7, 7, 7);
}
input#equal{
    width:275px;
    margin: 10px 0 10px 0;
    font-size: 30px;
    color: rgb(254, 255, 255);
    background:crimson
}